.title { color: #ff0000 }
.country { color: #ff4500 }
.column1 { width:10%; text-align: center; }
.column2 { width:75%; }
.column3 { width:15%; }
p {
    font-size: 12pt;
    margin: 1em 0;
}
h1 {
    font-size: 14pt;
    font-weight: bold;
    margin: 0.4em 0;
}
table {
	width:100%;
    margin-bottom: 0.4pt;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}
tr {
    vertical-align: inherit;
}
table > tr {
    vertical-align: middle;
}
td {
	background-color:#f5deb3;
	font-size:10pt;
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
}
th {
	background-color: #ff4500;
	font-size:10pt;
	color:#FFFFFF;
    display: table-cell;
    font-weight: bold;
    padding: 1px;
    vertical-align: inherit;
}
